-
  branches:
    only:
      - /release/.*/
      - develop
      - master

  pull_requests:
    do_not_increment_build_number: true

  nuget:
    disable_publish_on_pr: true

  os: Visual Studio 2015

  cache:
    - src\packages -> src\**\packages.config

  install:
    - ps: choco install GitVersion.Portable -y

  before_build:
    - ps: nuget restore src/Autofac.Extras.Quartz.sln
    - ps: gitversion /l console /output buildserver /updateAssemblyInfo

  build_script:
    - cmd: '"%ProgramFiles(x86)%\MSBuild\14.0\Bin\MSBuild.exe" build.proj /t:BuildAll;Pack /p:PackageVersion="%GitVersion_NuGetVersion%" /p:BuildConfig=Release'

  test_script:
  - cmd: >-
      cd src/Tests/bin/Release

      nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor

  artifacts:
    - path: out/packages/*.nupkg

  deploy:
    - provider: NuGet
      appveyor_repo_tag: true
      api_key:
        secure: HmgvMFl5yUvms5wcIZDCiBIZYyNWoTdouBwxuWJbYU7d0WVPTm6hnrIxhI4Xhcpl


-
  pull_requests:
    do_not_increment_build_number: true

  nuget:
    disable_publish_on_pr: true

  os: Visual Studio 2015

  cache:
    - src\packages -> src\**\packages.config

  install:
    - ps: choco install GitVersion.Portable -y

  before_build:
    - ps: nuget restore src/Autofac.Extras.Quartz.sln
    - ps: gitversion /l console /output buildserver /updateAssemblyInfo

  build_script:
    - cmd: '"%ProgramFiles(x86)%\MSBuild\14.0\Bin\MSBuild.exe" build.proj /t:BuildAll /p:BuildConfig=Release'

  test_script:
  - cmd: >-
      cd src/Tests/bin/Release

      nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor
