pull_requests:
  do_not_increment_build_number: true

nuget:
  disable_publish_on_pr: true

os: Visual Studio 2017

environment:
  # Set the DOTNET_SKIP_FIRST_TIME_EXPERIENCE environment variable to stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  codecov_token:
    secure: g2QQUWGm6CtMd9M+AjcjOs7mkCoyGTW962Z5WepMi9Jd4BqqsI2vp3VkYGZgahUX
    
install:
  - ps: choco install GitVersion.Portable opencover -y --no-progress

before_build:
- ps: >-
    cd src

    dotnet restore

    gitversion /l console /output buildserver /updateAssemblyInfo

build_script:
- cmd: >-
    cd /projects/autofac-extras-quartz

    msbuild build.proj /t:BuildAll /p:PackageVersion="%GitVersion_NuGetVersion%" /p:BuildConfig=Debug
    
    msbuild build.proj /t:BuildAll;Pack /p:PackageVersion="%GitVersion_NuGetVersion%" /p:BuildConfig=Release

test_script:
- cmd: >-

    cd src/Tests/bin/Debug/net462

    OpenCover.Console.exe -register:user -target:"nunit3-console.exe" -targetargs:"Autofac.Extras.Quartz.Tests.dll --result=test-results.xml --dispose-runners --nocolor" -output:".\coverage.xml" -filter:"+[Autofac.Extras.Quartz*]* -[Autofac.Extras.Quartz.Tests*]*"

    cd /projects/autofac-extras-quartz/src/Tests/bin/Release/net462

    nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor

after_test:
- cmd: >- 
    SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%
    
    pip install codecov
    
    codecov -f "/projects/autofac-extras-quartz/src/Tests/bin/Debug/net462/coverage.xml" -t %codecov_token%
    
    
artifacts:
  - path: out/packages/*.nupkg

deploy:
  - provider: NuGet
    name: Release builds
    appveyor_repo_tag: true
    api_key:
      secure: HmgvMFl5yUvms5wcIZDCiBIZYyNWoTdouBwxuWJbYU7d0WVPTm6hnrIxhI4Xhcpl
    skip_symbols: true
    artifact: /.*\.nupkg/
  - provider: NuGet
    name: CI builds
    on:
      branch:
        - /release/.*/
        - develop
    appveyor_repo_tag: true
    api_key:
      secure: HmgvMFl5yUvms5wcIZDCiBIZYyNWoTdouBwxuWJbYU7d0WVPTm6hnrIxhI4Xhcpl
    skip_symbols: true
    artifact: /.*\.nupkg/
  - provider: GitHub
    release: $(GitVersion_SemVer)
    description: 'TODO: Release description'
    artifact: /.*\.nupkg/
    draft: true
    prerelease: false
    auth_token:
      secure: Qrn7La5ZrojeX8v9/9+PXInkVyQw/8SJo100d0B4Y4vHRWGcpHfeY0o8zb9XM+p+
    on:
      appveyor_repo_tag: true
