pull_requests:
  do_not_increment_build_number: true

nuget:
  disable_publish_on_pr: true

os: Visual Studio 2017

environment:
  # Set the DOTNET_SKIP_FIRST_TIME_EXPERIENCE environment variable to stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  codecov_token:
    secure: g2QQUWGm6CtMd9M+AjcjOs7mkCoyGTW962Z5WepMi9Jd4BqqsI2vp3VkYGZgahUX

install:
- ps: >-
    choco install GitVersion.Portable GitReleaseManager.Portable -y -pre -no-progress

    choco install opencover.portable codecov -y --no-progress

before_build:
- ps: >-
    cd src

    dotnet restore

    C:\ProgramData\chocolatey\bin\gfv.exe /version

    C:\ProgramData\chocolatey\bin\gfv.exe /output buildserver /updateAssemblyInfo

build_script:
- ps: >-
    cd /projects/autofac-extras-quartz
    
    Add-AppveyorMessage  "Building version $Env:GitVersion_NuGetVersion" -Category Information

    msbuild.exe build.proj /t:BuildAll /p:PackageVersion="$Env:GitVersion_NuGetVersion" /p:BuildConfig=Debug /verbosity:minimal

    msbuild.exe build.proj /t:BuildAll`;Pack /p:PackageVersion="$Env:GitVersion_NuGetVersion" /p:BuildConfig=Release /verbosity:minimal

test_script:
- ps: >-

    cd src/Tests/

    choco list --local-only

    C:\ProgramData\chocolatey\bin\OpenCover.Console.exe -version
    
    C:\ProgramData\chocolatey\bin\OpenCover.Console.exe -register:user -target:"dotnet.exe" -targetargs:"xunit -xml ../../output/test-results.xml -c Debug --no-build" -output:"../../output/coverage.xml" -filter:"+[Autofac.Extras.Quartz*]* -[Autofac.Extras.Quartz.Tests*]*" -oldStyle -mergeoutput -excludebyattribute:"*.ExcludeFromCodeCoverage*" -excludebyfile:"*/*Designer.cs"

    dotnet xunit -c Release --no-build    
#    nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml`;format=AppVeyor --dispose-runners --nocolor

after_test:
 - ps: |
    if (Test-Path 'Env:APPVEYOR_PULL_REQUEST_NUMBER') {
      Add-AppveyorMessage  "Skipping coverage upload for PR" -Category Warning
    } else {  
      codecov.exe -f "/projects/autofac-extras-quartz/output/coverage.xml" -t $Env:CODECOV_TOKEN
    }

artifacts:
  - path: out/packages/*.nupkg

deploy:
  - provider: NuGet
    name: Release builds
    on:
      appveyor_repo_tag: true
    api_key:
      secure: kowlqJXuOSlpN/QJzkeiypWYK+XeXGkp1jeOl2XgfeyYmOwmqyzNQVhCAgzWymvP
    skip_symbols: true
    artifact: /.*\.nupkg/
  - provider: NuGet
    name: CI builds
    on:
      branch:
        - /release/.*/
        - develop
    api_key:
      secure: kowlqJXuOSlpN/QJzkeiypWYK+XeXGkp1jeOl2XgfeyYmOwmqyzNQVhCAgzWymvP
    skip_symbols: true
    artifact: /.*\.nupkg/
  - provider: GitHub
    release: $(GitVersion_SemVer)
    description: 'TODO: Release description'
    artifact: /.*\.nupkg/
    draft: true
    prerelease: false
    auth_token:
      secure: Qrn7La5ZrojeX8v9/9+PXInkVyQw/8SJo100d0B4Y4vHRWGcpHfeY0o8zb9XM+p+
    on:
      appveyor_repo_tag: true
