-
  branches:
    only:
      - /release/.*/
      - develop
      - master

  pull_requests:
    do_not_increment_build_number: true

  nuget:
    disable_publish_on_pr: true

  os: Visual Studio 2017

  install:
    - ps: choco install GitVersion.Portable -y --no-progress

  before_build:
  - ps: >-
      cd src

      dotnet restore

      gitversion /l console /output buildserver /updateAssemblyInfo

  build_script:
  - cmd: >-
      cd /projects/autofac-extras-quartz

      msbuild build.proj /t:BuildAll;Pack /p:PackageVersion="%GitVersion_NuGetVersion%" /p:BuildConfig=Release

  test_script:
  - cmd: >-
      cd src/Tests/bin/Release/net462

      nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor

  artifacts:
    - path: out/packages/*.nupkg

  deploy:
    - provider: NuGet
      appveyor_repo_tag: true
      api_key:
        secure: HmgvMFl5yUvms5wcIZDCiBIZYyNWoTdouBwxuWJbYU7d0WVPTm6hnrIxhI4Xhcpl


-
  pull_requests:
    do_not_increment_build_number: true

  nuget:
    disable_publish_on_pr: true

  os: Visual Studio 2017

  install:
  - cmd: >-
      choco install GitVersion.Portable -y --no-progress
      
      choco install opencover -y --no-progress

  before_build:
  - cmd: >-
      cd src 

      dotnet restore

      gitversion /l console /output buildserver /updateAssemblyInfo

  build_script:
    - cmd: >-
        cd /projects/autofac-extras-quartz

        msbuild build.proj /t:BuildAll /p:BuildConfig=Release

  test_script:
  - cmd: >-
      cd src/Tests/bin/Release/net462

      OpenCover.Console.exe -register:user -target:"nunit3-console.exe" -targetargs:"Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor" -output:".\coverage.xml" -filter:"+[Autofac.Extras.Quartz*]* -[Autofac.Extras.Quartz.Tests*]*"
      
#      nunit3-console Autofac.Extras.Quartz.Tests.dll --result=test-results.xml;format=AppVeyor --dispose-runners --nocolor
